<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Stonks</title>
        {% else %}
        <title>Welcome to Stonks</title>
        {% endif %}
    </head>
    <body>
        <div>Stonks: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages =  get_flashed_messages() %} <!-- With construct assigns value from get_flashed_messages to messages -->
        {% if messages %} <!-- Messages cleared after calling (think of a channel) -->
        <ul>
            {% for m in messages %}
            <il>{{ m }}</il>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>