{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.aboutMe %}<p>{{ user.aboutMe }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('editProfile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for p in posts %}
    <p>
        {{ p.author.username }} says: <b>{{ p.body }}</b>
    </p>
    {% endfor %}
{% endblock %}